<p (click)="helloWorld()">teste works!</p>
<!-- <gojs-diagram *ngIf="myDiagram"
  [initDiagram]='initDiagram'
  [nodeDataArray]='state.diagramNodeData'
  [linkDataArray]='state.diagramLinkData'
  [modelData]='state.diagramModelData'
  [skipsDiagramUpdate]='state.skipsDiagramUpdate'
  (modelChange)='diagramModelChange($event)'
  [divClassName]='diagramDivClassName'>
</gojs-diagram> -->

<div id="myDiagramDiv" class="myDiagramDiv"></div>
<div>
    {{state.selectedNodeData}}
</div>
<ul id="contextMenu" class="menu">
  <li id="cut" class="menu-item" onclick="cxcommand(event)">Cut</li>
  <li id="copy" class="menu-item" onclick="cxcommand(event)">Copy</li>
  <li id="paste" class="menu-item" onclick="cxcommand(event)">Paste</li>
  <li id="delete" class="menu-item" onclick="cxcommand(event)">Delete</li>
  <li id="color" class="menu-item">Color
    <ul class="menu">
      <li class="menu-item" style="background-color: #f38181;" onclick="cxcommand(event, 'color')">Red</li>
      <li class="menu-item" style="background-color: #eaffd0;" onclick="cxcommand(event, 'color')">Green</li>
      <li class="menu-item" style="background-color: #95e1d3;" onclick="cxcommand(event, 'color')">Blue</li>
      <li class="menu-item" style="background-color: #fce38a;" onclick="cxcommand(event, 'color')">Yellow</li>
    </ul>
  </li>
</ul>