<p (click)="helloWorld()">teste works!</p>
<div>
  <input *ngIf="myDiagram" type="button" (click)="copySelection(myDiagram)" value="Copy">
  <input *ngIf="myDiagram" type="button" (click)="pasteSelection(myDiagram)" value="Paste">
  <input *ngIf="myDiagram" type="button" (click)="cutSelection(myDiagram)" value="Cut">
  <input *ngIf="myDiagram" type="button" (click)="deleteSelection(myDiagram)" value="Delete">
</div>
<!-- <gojs-diagram *ngIf="myDiagram"
  [initDiagram]='initDiagram'
  [nodeDataArray]='state.diagramNodeData'
  [linkDataArray]='state.diagramLinkData'
  [modelData]='state.diagramModelData'
  [skipsDiagramUpdate]='state.skipsDiagramUpdate'
  (modelChange)='diagramModelChange($event)'
  [divClassName]='diagramDivClassName'>
</gojs-diagram> -->

<div id="myDiagramDiv" class="myDiagramDiv"></div>
<div>
    {{state.selectedNodeData}}
</div>
<ul id="contextMenu" class="menu">
  <li id="cut" class="menu-item" (click)="cxcommand($event)">Cut</li>
  <li id="copy" class="menu-item" (click)="cxcommand($event)">Copy</li>
  <li id="paste" class="menu-item" (click)="cxcommand($event)">Paste</li>
  <li id="delete" class="menu-item" (click)="cxcommand($event)">Delete</li>
</ul>